@media (max-width: 2560px) { /*4K*/
.tarjetasColumnas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.tarjetasColumna{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}
.sectionTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: end;
}
}
@media (max-width: 768px){ /*tablet*/
    .contenedor-tarjeta-columnas {
        padding: 1%;
        width: 30%;
    }
    .contenedor-tarjeta-columna{
        padding: 1%;
    }
    .fila{
        padding-left: 0%;
    }

    
}

@media (max-width: 320px) {/*Mobile S*/
    .buscador{
        padding: 5px;
    }
    .sectionTop{
        width: 100%;
        height: 100%;
    }
    .contenedor-tarjeta-columnas {
        width: 40%;
    }
}