footer{
	width: 100%;
	background-color: rgb(152, 224, 248);
	height:70px;
}
.team{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    width: 20%;
    justify-content: space-between;
    padding-right: 5%;
    
}
@media (max-width: 320px) {
    .team{
        width: 50%;
        padding-right: 5%;
    }
}