.contenedor-tarjeta-columnas{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
    width: 20%;
}

.contenedor-tarjeta-columna{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(155, 255, 255);
    padding: 10px;
    margin-bottom: 20px;

}

.contenedor-tarjeta-columna img{
    padding-right: 10px;
    align-self: flex-start;
}

.fila{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;
    min-width: 190px;
}

.contenedor-tarjeta-columnas:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.contenedor-tarjeta-columna:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.aditional-info-columna{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.borrar1{
    width: 85px;
    height: 21px;
    margin-bottom: 10px;
}

.borrar2{
    width: 85px;
    height: 21px;
}
