.contenedor-tarjeta-columnas{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 20px;
    width: 20%;
}

.contenedor-tarjeta-columna{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 20px;

}

.contenedor-tarjeta-columna img{
    padding-right: 10px;
}

.fila{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.contenedor-tarjeta-columnas:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.contenedor-tarjeta-columna:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.aditional-info-columna{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.Borrar{
    float: right;
}
